@import '../../theme/s.theme.scss';

.c-menu-link {
  $bd-width: map-get($left-menu, 'hilight-path-border-width');
  display: inline-block;
  line-height: 1.3;
  color: map-get($left-menu, 'link-color');
  margin: 8px $global-left-gutter;

  &:hover {
    text-decoration: underline;
  }

  &--level-1 {
    $level: map-get($left-menu, link-1);
    font-size: map-get($level, fs);
    font-weight: map-get($level, fw);
    text-transform: uppercase;
    padding: map-get($level, v-padding) 0 map-get($level, v-padding)
      map-get($level, l-padding);
  }

  &--level-2 {
    $level: map-get($left-menu, link-2);
    font-size: map-get($level, fs);
    font-weight: map-get($level, fw);
    padding: map-get($level, v-padding) 0 map-get($level, v-padding)
      map-get($level, l-padding);
  }

  &--level-3 {
    $level: map-get($left-menu, link-3);
    font-size: map-get($level, fs);
    font-weight: map-get($level, fw);
    padding: map-get($level, v-padding) 0 map-get($level, v-padding)
      map-get($level, l-padding);
  }
}
