@import '../../theme/s.theme.scss';

/* Table of contents */
.c-toc {
  padding-top: 36px;

  &__wrapper {
    padding-right: 24px;
    padding-left: 40px;
    padding-top: 18px;
    padding-bottom: 16px;
    top: 36px;
    position: sticky;
    max-height: 90vh;
    overflow-y: auto;
  }

  &__title {
    text-transform: uppercase;
    font-size: $fs-200;
    line-height: 1;
    margin-top: 0;

    &:after {
      content: '';
      margin-top: 11px;
      display: block;
      height: 6px;
      width: 32px;
      background: $color-grey-800;
    }
  }

  &__lists-wrapper {
    padding-top: 24px;
  }

  &__list {
    list-style-type: none;
    font-size: $fs-200;
  }

  &__list-item {
    display: block;
    padding: 0;

    &:last-child {
      padding: 0;
    }
  }

  &__list-link {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $default-link-color;
    margin-bottom: 8px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__list-item > &__list {
    font-size: 0.9em;
    padding-left: 0.75em;
  }
}
