@import '../../theme/s.theme.scss';

@mixin damier() {
  background-color: #f5f5f5;
  background-image: linear-gradient(
      45deg,
      #fff 25%,
      transparent 25%,
      transparent 75%,
      #fff 75%
    ),
    linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%);
  background-size: 16px 16px;
  background-position: 0 0, 8px 8px;
}

.c-preview {
  position: relative;

  &--fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2;
  }

  /*
  ZE IFRAME
  */

  &__frame-container {
    position: relative;
    overflow: hidden;
    border: solid 1px $color-grey-300;
    user-select: none;
    @include damier();

    .c-preview--with-options:not(.c-preview--fullscreen) & {
      border-bottom: 0;
    }
  }

  &__frame-inner-container {
    position: relative;
    padding: 1rem 0;
    background-color: #fff;
    box-shadow: 0 0 8px rgba($color-grey-500, 0.3);

    &--grid {
      $line-color: rgba(0, 100, 100, 0.1);
      $sub-line-color: rgba(0, 100, 100, 0.03);

      background-image: linear-gradient(90deg, $line-color 1px, transparent 1px),
        linear-gradient(0deg, $line-color 1px, transparent 1px),
        linear-gradient(90deg, $sub-line-color 1px, transparent 1px),
        linear-gradient(0deg, $sub-line-color 1px, transparent 1px),
        linear-gradient(90deg, $sub-line-color 1px, transparent 1px),
        linear-gradient(0deg, $sub-line-color 1px, transparent 1px);

      background-size: 1rem 1rem, 1rem 1rem, 0.5rem 0.5rem, 0.5rem 0.5rem,
        0.25rem 0.25rem, 0.25rem 0.25rem;
    }
  }

  &__iframe {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 90px;
  }

  &__toggle-options {
    font-size: map-get($code, 'copy-code-fs');
    background: $color-grey-800;
    color: $color-grey-100;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: none;
    border: none;
    position: absolute;
    right: -1px;
    top: -1px;
    outline: none;
    padding: 4px 8px;
  }

  &__viewport-infos {
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    top: 0;
    left: 0;
    background: $color-grey-100;
    display: inline-block;
    font-size: 8px;
    letter-spacing: 0.08em;
    line-height: 1;
    padding: 8px;
  }

  /*
  ZE TOOL BAR
  */

  &__toolbar {
    color: $color-grey-700;
    background: $color-grey-100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 34px;
    position: relative;
    overflow: visible;
    padding: 0 $main-content-left-gutter;

    .c-preview--fullscreen & {
      border: 0;
      border-bottom: solid 1px $color-grey-300;
      border-radius: 0;
    }
  }

  &__left-tools,
  &__right-tools,
  &__tool-left,
  &__tool-right {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    > a {
      display: inline-block;
      margin: 0;
      line-height: 1;
    }
  }

  &__tool-left {
    margin-right: 24px;
  }

  &__tool-right {
    margin: 0 0 0 24px;
  }

  &__icon {
    stroke: currentColor;
    stroke-width: 1px;
    fill: none;
  }

  &__button-icon {
    box-sizing: border-box;
    cursor: pointer;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
  }

  &__select-wrapper {
    position: relative;
  }

  &__select-icon {
    position: absolute;
    right: 0;
    top: -2px;
    width: 12px;
    height: 12px;
    stroke: currentColor;
    fill: none;
    pointer-events: none;
  }

  &__select {
    font-size: $fs-025;
    color: currentColor;
    text-transform: uppercase;
    margin-left: 8px;
    padding-right: 16px;
    display: block;
    line-height: 1;
    appearance: none;
    border: none;
    background: none;
    background-repeat: no-repeat;
    text-align: center;
    text-align-last: center;
    cursor: pointer;

    &::-ms-expand {
      display: none;
    }

    option {
      font-weight: normal;
    }
  }

  /*
  ZE CODE PART
  */

  &__code-wrapper {
    background: map-get($code, 'block-bg-color');

    &,
    * {
      /* Track */
      ::-webkit-scrollbar-track {
        background: map-get($code, 'block-bg-color');
        border: solid 1px map-get($code, 'block-bg-color');
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        border: solid 3px map-get($code, 'block-bg-color');
      }

      ::-webkit-resizer {
        background: map-get($code, 'block-bg-color');
      }
    }
  }

  &__code-tabs {
    background: $color-grey-100;
    border: solid 1px $color-grey-300;
    border-top: 0;
    border-bottom-color: $color-grey-500;
    padding-left: $main-content-left-gutter;

    .c-preview--fullscreen & {
      border: 0;
      border-bottom: solid 1px $color-grey-300;
      border-left: solid 1px $color-grey-300;
    }
  }

  &__code-tabs-item {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: none;
    border: none;
    line-height: 1.5rem;
    font-weight: bold;
    background: transparent;
    border-bottom: solid 4px transparent;
    color: $default-font-color;
    font-size: $fs-050;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    margin: 0;
    margin-top: 6px;
    margin-bottom: -1px;
    margin-right: 16px;
    padding: 0;

    &.is-active {
      border-bottom-color: #000;
    }
  }

  &__code-body {
    flex: 1;
    overflow: auto;
    position: relative;
    max-height: 6em;
    background: map-get($code, 'block-bg-color');

    &.is-expended {
      max-height: 20em;
    }

    code,
    pre {
      position: static;
      margin-bottom: 0;
      padding-bottom: 0;
      font-size: $fs-050;
      overflow: visible;
      max-width: 100%;
    }

    .c-preview--fullscreen & {
      width: 100%;
      max-height: none;
      overflow: none;

      code {
        overflow: none;
      }
    }
  }

  &__code-footer {
    background: map-get($code, 'block-bg-color');
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  &__show-more-btn {
    font-size: map-get($code, 'copy-code-fs');
    background: $color-grey-800;
    color: $color-grey-100;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 4px 8px;
  }

  /*
  THE FULL SCREEN LAYOUT
  */

  &__inner-container {
    display: flex;
    height: 100%;
  }

  &__right-column {
    flex: 0 0 30%;
    max-width: 30%;
    min-width: 30%;
    display: flex;
    flex-flow: column nowrap;
    background: map-get($code, 'block-bg-color');
  }

  &__left-column {
    flex: 0 0 70%;
    max-width: 70%;
    display: flex;
    flex-flow: column nowrap;
    @include damier();
  }

  &__body {
    position: relative;
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
